<!DOCTYPE html>
<html>
  <%- include('./includes/dashboard/head') %>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('./includes/dashboard/navbar') %>

      <!-- Main Sidebar Container -->
      <%- include('./includes/dashboard/sidebar') %>

      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>فرم‌های عمومی</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-light">
                  <div class="card-header">
                    <h3 class="">ایجاد مسابقه</h3>
                  </div>
                  <form role="form" action="/dashboard/admin/add-match" method="post">
                    <div class="card-body">
                      <div class="form-group d-flex justify-content-between">
                        <div class="col-6 p-0">
                          <label for="exampleInputEmail1" class="control-label h5">تیم اول</label>
                          <select class="form-control form-control-lg select2" name="firstTeam">
                            <% if (teams.length > 0) { %> <% teams.forEach(team => { %>
                            <option class="" value="<%= team.name %>"><%= team.name %></option>
                            <% }) %> <% } else{%>
                            <option class="" value="">تیمی وجود ندارد</option>
                            <% } %>
                          </select>
                        </div>
                        <div class="col-6">
                          <label for="exampleInputEmail1" class="control-label h5">تیم دوم</label>
                          <select class="form-control form-control-lg select2" name="secondTeam">
                            <% if (teams.length > 0) { %> <% teams.forEach(team => { %>
                            <option class="" value="<%= team.name %>"><%= team.name %></option>
                            <% }) %> <% } else{%>
                            <option class="" value="">تیمی وجود ندارد</option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group my-5">
                        <label for="exampleInputPassword1" class="control-label h5">تاریخ شروع پیشبینی</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                          <input class="normal-example form-control" name="startForecast" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1" class="control-label h5">تاریخ اتمام پیشبینی</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                          <input class="normal-example form-control" name="endForecast" />
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">ارسال</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-light">
                  <div class="card-header">
                    <h3 class="">ایجاد تیم</h3>
                  </div>
                  <form role="form" action="/dashboard/admin/add-team" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                      <div class="col-sm-10"><%- include('./includes/dashboard/team/message.ejs') %></div>
                      <div class="form-group">
                        <label for="teamName" class="col-sm-2 control-label h5">نام تیم</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control form-control-lg" name="name" id="teamName" placeholder="نام تیم را وارد کنید" />
                        </div>
                      </div>
                      <div class="form-group my-5">
                        <label for="teamLeague" class="col-sm-2 control-label h5">لیگ</label>
                        <div class="col-sm-10">
                          <input type="text" name="league" class="form-control form-control-lg" id="teamLeague" placeholder="لیگ را وارد کنید" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="control-label h5 col-sm-2">لوگو</label>
                        <div class="input-group col-sm-10">
                          <div class="custom-file">
                            <input type="file" name="logo" class="custom-file-input" id="logo" />
                            <label class="custom-file-label" name="avatar" for="avatar">انتخاب فایل</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-info">ورود</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <%- include('./includes/dashboard/jssrc') %>
  </body>
</html>
