<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head') %>

  <body class="rtl">
    <%- include('./includes/dashboardHeader.ejs') %>
    <div class="container-fluid">
      <div class="row">
        <%- include('./includes/dashboardSidebar.ejs') %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <h2 class="mt-3 mb-3">آخرین پست ها</h2>

          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><%= fullname %> عزیز</h4>
            <p>
              شما هموز پستی ثبت نکردی اگه میخوای ما رو با پست های زیبات شاد کنی
              از لینک زیر استفاده کن
            </p>
            <hr />
            <a href="/dashboard/add-post" class="mb-0 btn btn-primary"
              >ایجاد پست جدید</a
            >
          </div>
        </main>
      </div>
    </div>
    <%- include('./includes/jssrcs') %>
  </body>
</html>
