<!doctype html>
<html lang="en">
<%- include('./includes/head') %>
    <body class="rtl">
        <%- include('./includes/dashboardHeader.ejs') %>
            <div class="container-fluid">
                <div class="row">
                    <%- include('./includes/dashboardSidebar.ejs') %>
                    <div class="col-10 mt-4">
                        <h3 class="mt-2 text-center w-100">ویرایش پست</h3>
                        <div class="d-flex align-items-center justify-content-center w-100">
                            <form action="/dashboard/edit-post/<%= post.id %> " class="w-50" method="POST" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <label class="d-block w-100" for="">عکس بند انگشتی</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="thumbnail" id="selectedImage" />
                                        <label id="imageStatus" class="custom-file-label" for="selectedImage">
                                            عکس مورد نظر را انتخاب کنید
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="title">عنوان پست</label>
                                    <input type="text" class="form-control w-50" name="title" value="<%= post.title %> " id="title" />
                                </div>
                                <div class="form-group">
                                    <label for="status">وضعیت</label>
                                    <select name="status" class="form-control w-25" id="status">
                                        <option value="<%= post.status %>" selected><%= post.status === "public" ? "عمومی" : "خصوصی" %></option>
                                        <option value="<%= post.status === "public" ? "private" : "public" %>"><%= post.status === "public" ? "خصوصی" : "عمومی" %></option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-sm btn-outline-secondary" type="button"
                                            id="imageUpload">
                                            آپلود عکس
                                        </button>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="selectedImage" />
                                        <label id="imageStatus" class="custom-file-label" for="selectedImage">
                                            عکس مورد نظر را انتخاب کنید
                                        </label>
                                    </div>
                                </div>
                                <div id="progressDiv" class="mb-3" style="display: none">
                                    <div class="progress">
                                        <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="w-100 bg-light text-center">
                                    <p id="uploadResult" class="overflow-auto">آدرس عکس آپلود شده</p>
                                </div>
                                <div class="form-group">
                                    <h5>متن اصلی پست</h5>
                                    <textarea name="body" class="form-control" id="body"><%= post.body %> </textarea>
                                </div>
                                <%- include('./includes/createdPostMessages') %>
                                <div class="row">
                                    <input type="submit" value="ویرایش پست" class="btn btn-success m-2" />
                                    <a href="/dashboard" class="btn btn-warning m-2">انصراف</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./includes/jssrcs') %>
            <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
            <script>
                CKEDITOR.replace('body', {
                    language: 'fa'
                });
            </script>
            <script src="/js/uploadImage.js"></script>
    </body>

</html>